* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}
html{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.note{
    background-color: rgb(171, 161, 161);
    padding: 1rem;
    max-width: 20rem;
    border-radius: 0.5rem;
    color: rgb(217, 213, 213);
}
.notes{
    display: flex;
    gap: 1rem;
    padding-inline:1rem ;
    padding-block: 3rem;
}
.notes-form{
    display: flex;
    gap: 15px;
    padding-block: 0.5rem;

}